<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-primary btn-sm">Edit Roles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No users found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


