{% extends 'base.html.twig' %}

{% block title %}About IntruNex{% endblock %}

{% block body %}
<h1>About IntruNex</h1>
<p>IntruNex is a web-based security vulnerability scanning tool designed to help developers secure their applications.</p>
{% endblock %}
