{% extends 'base.html.twig' %}

{% block title %}About IntruNex{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">About IntruNex</h1>
      <p class="lead">IntruNex is a web-based security vulnerability scanning tool designed to help developers secure their applications.</p>
    </div>
  </div>
</div>
{% endblock %}
