{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Contact Us</h1>
      <p class="lead">For support and inquiries, please email support@intrunex.example.com or call +1-555-123-4567.</p>
    </div>
  </div>
</div>
{% endblock %}
