{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<h1>Contact Us</h1>
<p>For support and inquiries, please email support@intrunex.example.com or call +1-555-123-4567.</p>
{% endblock %}
