{% extends 'base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
<h1>Documentation</h1>
<p>Find all usage guides, API references, and best practices to get the most out of IntruNex here.</p>
{% endblock %}
